@use '../../assets/styling/variables' as *;

.landingPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url("../../assets/images/chris-ried-ieic5Tq8YMk-unsplash.png");
    background-size: cover;
    color: $secondary-text-color;

    &__greeting {
        text-align: left;
        font-size: 1.7rem;
        line-height: 1.6;
    }

    &__greetingHeader {
        font-weight: 700;
        font-size: 2.5rem;
    }

    &__greetingBold {
        font-weight: 700;
    }

    &__greetingEnd {
        margin-top: 2rem;
    }
}

@media (max-width: 480px) {
    .landingPage__greeting {
        width: 80%;
        margin: auto;
        font-size: 1.1rem;
    }
}
