@use '../../sass/' as *;

.landingPage {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url("/images/retro-computer.png");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    color: $terminalText;

    &__greeting {
        text-align: left;
        font-size: 1.7rem;
        font-weight: 200;
        line-height: 1.6;
        margin-left: 6rem;
        height: 300px;
    }
}

@media screen and (max-width: 996px) {
    .landingPage{
        justify-content: center;

        &__greeting {
            width: 70%;
            margin: auto;
        }
    }
}

@media screen and (max-width: 640px) {
    .landingPage__greeting {
        width: 80%;
        font-size: 1.5rem;
    }
}