@use '../../sass/' as *;

.landingPage {
    @include flexCenter();
    height: 100vh;
    width: 100%;
    background-image: url("../../assets/images/code-landingpage.jpg");
    background-size: cover;
    color: $terminalText;

    &__greeting {
        text-align: left;
        font-size: 1.7rem;
        font-weight: 200;
        line-height: 1.6;
    }
}

@media screen and (max-width: 996px) {
    .landingPage__greeting {
        width: 70%;
    }
}

@media screen and (max-width: 640px) {
    .landingPage__greeting {
        width: 80%;
        margin: auto;
        font-size: 1.5rem;
    }
}
