@use "../../sass/" as *;

.menu {
  width: 100%;
  height: 4rem;
  position: fixed;
  left: 0;
  top: -10vh;
  background-color: $terminalText;
  transition: all 1s ease-out;
  z-index: 1;
}

.showMenu {
  top: 10vh;
  transition: all 0.5s ease;
}

@media screen and (max-width: 996px) {
  
  .menu {
    top: -90vh;
  }
  
  .showMenu {
    height: 100vh;
    top: 10vh;
  }
}
