// colors
$primaryBlack: #000;
$greenBg: #05321e;
$blackBg: #050505;
$terminalText: #0efc5b;
$primaryTextColor: #F5F5F5;
$secondaryTextColor: #c3dcaf;
$sectionHeadingColor: #11a1fb;
$cardColor: #0c0c0c;
$primaryWhite: #FEFEFA;

// Fonts
$robotoMono: 'Roboto Mono', monospace;
$ibmPlex: 'IBM Plex Sans', sans-serif;
$vt323: 'VT323, monospace';