@use "../../assets/styling/variables.scss" as text;

.baseBtn {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: text.$secondary-text-color;
  background-color: text.$primary-background-color;
  border: none;
  border-radius: 5px;
  padding: 0.6em 0.6rem 0.6rem 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.baseBtn:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.iconBtn {
  padding-right: 0.7em;
}
