@use '../../assets//styling/variables.scss' as *;

.projectContainer {
    max-width: 80%;
    height: auto;
    margin: 3rem 0;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
    gap: 5rem;

    &__image {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;

        img {
            grid-area: 1 / 1 / 2 / 2;
            opacity: 0.4;
        }

        img:hover {
            opacity: unset;
        }
    }


    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $primary-text-color;
        padding-left: 2rem;
    }

}

.projectContainerBtnHolder {
    width: 100%;
    display: flex;
    gap: 3rem;
}

.projectContainerTitle {
    font-size: 1.8rem;
    text-align: left;
}

.textInfo {
    text-align: left;
    color: #fff;
    max-width: 80%;
    grid-area: 1 / 1 / 2 / 2;
    visibility: hidden;
    font-size: 1.2rem;
}

.textInfoReveal {
    visibility: visible;
}

.textInfoReveal + img {
    opacity: 0.1;
}

.projectContainerReverse {
    grid-template-columns: 2fr 3fr;
}

.reverseOrderImg {
    order: 2;
}

.info {
    border: 0.5px solid #f8f9fa;
    border-radius: 2px;
    padding: 1rem 1.5rem;
    margin: 2rem 0 4rem 0;
    width: max-content;
}

@media screen and (max-width: 1279px) {
    .projectContainer {
        &__info {
            justify-content: center;
        }
    }

    .projectContainerTitle {
        font-size: 1.6rem;
    }

    .info {
        padding: 0.5rem 1rem;
        margin: 1rem 0 2rem 0;
    }

    .textInfo {
        max-width: 100%;
    }
}

@media screen and (max-width: 996px)  {
    .projectContainer {
        grid-template-columns: 1fr;

        &__image {
            max-width: 100%;
            padding: 2rem;
        }
        
        &__info {
            width: 100%;
            padding: 2rem;
            align-items: center;
        }
    }
    
    .projectContainerTitle {
        text-align: center;
        font-size: 1.8rem;
    }

    .projectContainerBtnHolder {
        justify-content: center;
    }

    .textInfo {
        max-width: 100%;
        padding: 2rem;
    }

    .info {
        padding: 0.5rem 1rem;
        margin: 2rem 0 4rem 0;
    }

    .reverseOrderImg {
        order: initial;
    }
  }

  @media screen and (max-width: 640px) {
    
    .projectContainer {
        gap: 0;
        
        &__image {
            padding: 0;
        }

        &__info {
            padding: 1rem;
        }
    }

    .textInfo {
        padding: 1rem;
    }
  }

  @media screen and (max-width: 325px) {
    
    .projectContainer {
        max-width: 90%;

        &__image {
            padding: 0.5rem;
        }
    }

    .textInfo {
        max-width: 90%;
    }
  }