@use '../../assets//styling/variables.scss' as *;

.projectContainer {
    width: 80vw;
    height: auto;
    margin: auto;
    display: flex;
    margin: 3rem 0;

    &__image {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 90%;
            opacity: 0.4;
        }

        img:hover {
            opacity: unset;
        }
    }


    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 40%;
        color: $primary-text-color;
        padding-left: 2rem;
    }

}

.projectContainerBtnHolder {
    width: 100%;
    display: flex;
    gap: 2rem;
}

.projectContainerTitle {
    padding: 1rem 0;
    text-align: left;
}

.textInfo {
    text-align: left;
    line-height: 1.5rem;
}

.projectContainerReverse {
    flex-direction: row-reverse;
}

.info {
    border: 2px solid #fff;
    padding: 0.7rem;
    width: 33.33%;
}

@media (max-width: 480px)  {
    .projectContainer {
        flex-direction: column;
        gap: 3rem;

        &__image {
            width: 100%;
        }

        &__info {
            width: 100%;
            padding: 2rem;
        }
    }
  }