@use '../../assets//styling/variables.scss' as *;

.projectContainer {
    max-width: 80%;
    height: auto;
    margin: 3rem 0;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
    gap: 5rem;

    &__image {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;

        img {
            grid-area: 1 / 1 / 2 / 2;
            opacity: 0.4;
        }

        img:hover {
            opacity: unset;
        }
    }


    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $primary-text-color;
        padding-left: 2rem;
    }

}

.projectContainerBtnHolder {
    width: 100%;
    display: flex;
    gap: 3rem;
}

.projectContainerTitle {
    font-size: 1.8rem;
    text-align: left;
}

.textInfo {
    text-align: left;
    line-height: 1.5rem;
    color: #fff;
    max-width: 60%;
    grid-area: 1 / 1 / 2 / 2;
    visibility: hidden;
}

.textInfoReveal {
    visibility: visible;
}

.textInfoReveal + img {
    opacity: 0.1;
}

.projectContainerReverse {
    grid-template-columns: 2fr 3fr;
}

.reverseOrderImg {
    order: 2;
}

.info {
    border: 0.5px solid #f8f9fa;
    border-radius: 2px;
    padding: 1rem 1.5rem;
    margin: 2rem 0 4rem 0;
    width: max-content;
}

@media (max-width: 480px)  {
    .projectContainer {
        flex-direction: column;
        gap: 3rem;

        &__image {
            width: 100%;
        }

        &__info {
            width: 100%;
            padding: 2rem;
        }
    }
  }