@use '../../sass/' as *;

.card {
    width: auto;
    height: auto;
    color: $primaryTextColor;
    @include flexCenter();
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem 0;

    &__title {
        color: $skillTextColor;
        font-size: 1rem;
        font-weight: 400;
    }
}

.html {
    color: #E35B24;
}

.css3 {
    color: #2449D8;
}

.sass {
    color: #C26191;
}

.git {
    color: #E44C30;
}

.bootstrap {
    color: #7952B3;
}

.npm {
    color: #C33435;
}

.nodejs {
    color: #69A264;
}

.js {
    color: #EAD41C;
}

.react {
    color: #5CCFEE;
}

.firebase {
    color: #F29C15;
}