.projectsDisplay {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12rem;
    margin: 40vh auto;
}

@media (max-width: 480px) {
    .projectsDisplay {
        margin: 30vh auto;
    } 
}