.projectsDisplay {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30rem;
    margin: 40vh auto;
}

@media (max-width: 640px) {
    .projectsDisplay {
        margin: 30vh auto;
        gap: 15rem;
    } 
}