@use '../../sass/' as *;

.aboutSection {
    width: 60%;

    &__textHolder {
        width: 100%;

        > p {
            color: $primaryTextColor;
            line-height: 1.6;
            text-align: left;
            font-size: 1.2rem;
            margin-bottom: 1.2rem;
            font-family: $ibmPlex;
        }

        > p:first-child {
            padding-top: 2rem;
        }
    } 
}

.wave {
    animation-name: wave-animation;  
    animation-duration: 2.5s;        
    animation-iteration-count: infinite;  
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
    font-size: 1.375rem;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }

  @media only screen and (max-width: 640px)  {
    .aboutSection {
        font-size: 1rem;

        &__textHolder {
            width: 80%;
        }
    }
  }

