@use '../../assets/styling/variables.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');

.aboutSection {
    width: 100vw;
    height: 100vh;
    margin-bottom: 15vh;

    &__textHolder {
        width: 60%;
        margin: auto;

        > p {
            color: $primary-text-color;
            line-height: 1.7rem;
            text-align: left;
            font-size: 1.2rem;
            margin-bottom: 10px;
            font-family: 'IBM Plex Sans', sans-serif;
        }

        > p:first-child {
            padding-top: 2rem;
        }
    } 
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
    font-size: 1.375rem;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }

