@use '../../sass/' as *;

.contactSection {
    width: 80%;
    padding-bottom: 4rem;
    
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 10vh;
    }

    .iconContainer {
        display: flex;
        gap: 1.5rem;
    }
}

.emailHeading {
    display: flex;
    align-items: flex-end;
    color: $primaryTextColor;
    width: min-content;
    flex-wrap: wrap;
    gap: 1.5rem;
    font-size: 1.8rem;

    &__link {
        text-decoration-line: none;
        color: $terminalText;
        font-weight: 200;
    }

    > h3 {
        font-weight: 400;
        font-size: 2rem;
    }
}


.emailHeading__link:hover {
    color: $neonPurple;
}

.linkHover:hover {
    transform: scale(1.2);
    color: $neonPurple;
}

.iconSvg {
    width: 2rem;
    height: 2rem;
}


@media screen and (max-width: 640px) {

    .emailHeading {
        font-size: 1.2rem;
        justify-content: center;
    }

    .contactSection {
        padding-top: 4rem;

        &__container {
            flex-direction: column;
            align-items: center;
            gap: 3rem;
        }

        .iconContainer {
            gap: 3.5rem;
        }
    }
}