@use '../../assets/styling/variables.scss' as *;

.contactSection {
    width: 80%;
    margin: auto;
    padding-bottom: 4rem;
    
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 10vh;
    }

    .iconContainer {
        display: flex;
        gap: 1.5rem;
    }
}

.emailHeading {
    display: flex;
    align-items: flex-end;
    color: $primary-text-color;
    font-size: 1.5rem;
    width: min-content;
    flex-wrap: wrap;
    gap: 1.5rem;

    &__link {
        text-decoration-line: none;
        color: $secondary-text-color;
    }
}

.emailHeading > h3 {
    padding-bottom: 0.1em;
}

.emailHeading__link:hover {
    color: $section-heading-color;
}

.linkHover:hover {
    transform: scale(1.2);
}

@media (max-width: 480px) {
    .emailHeading {
        font-size: 1rem;
    }
    .contactSection {
        padding-top: 4rem;
    }
}