@use '../../assets/styling/variables.scss' as *;

.heading {
    width: 100%;
    height: 10vh;
    padding-right: 2rem;
    background-color: $primary-background-color;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    z-index: 1;

    p {
        color: $secondary-text-color;
        font-size: 1.5rem;
    }
}


@media screen and (max-width: 996px) {
    .heading {
        padding-right: 3rem;
    }

}

@media screen and (max-width: 640px) {
    .heading {
        padding-right: 2rem;
    }

}