@use '../../assets/styling/variables.scss' as *;

.heading {
    width: 100vw;
    height: 10vh;
    background-color: $primary-background-color;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    z-index: 1;

    p {
        color: $secondary-text-color;
        font-size: 1.5rem;
    }
}