@use '../../assets/styling/variables.scss' as *;

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
  padding-right: 5rem;
  font-size: 1.25rem;
  
  &__link {
    color: $secondary-text-color;
    text-decoration: none;
    font-weight: 700;
  }

  &__link:hover {
    cursor: pointer;
    font-weight: 400;
  }
}

@media (max-width: 996px) {
  .navbar {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 10rem 0 0 0;
    font-size: 1.5rem;
  }
}