@use '../../assets/styling/variables.scss' as *;

.navbar {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  padding-right: 5rem;
  font-size: 1.2rem;

  &__link {
    color: $landing-text-color;
    text-decoration: none;
  }

  &__link:hover {
    cursor: pointer;
    font-weight: bold;
  }
}


