.skillsList {
    width: 100%;
    height: auto;
    display: flex;
    column-gap: 2rem;

    .js {
        color: yellow;
    }

    .sass {
        color: purple;
    }

    .bem {
        color: green;
    }
}

@media screen and (max-width: 996px) {
    .skillsList {
        justify-content: center;
    }
}

@media screen and (max-width: 640px) {
    .skillsList {
        justify-content: center;
    }
}