.skillsList {
    width: 100%;
    height: auto;
    display: flex;
    column-gap: 1rem;

    .js {
        color: yellow;
    }

    .sass {
        color: purple;
    }

    .bem {
        color: green;
    }
}