.skillsList {
  width: 80vw;
  margin: 0 auto 30vh auto;

  &__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    margin-top: 3rem;
    row-gap: 3rem;
  }
}

@media (max-width: 480px) {
  .skillsList__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
