// color variables
$body-color: #000;  //#0c0c0c;  //#1a1f23;  //#141B1F;
$landing-text-color: #c3dcaf;
$primary-color: #F5F5F5;
$section-heading-color: #3e92cc;
$card-color: #0c0c0c; //#343e46;
$heading-color: #000;

//  hsla(200deg, 100%, 85%, 0) hsla(200deg, 100%, 85%, 0.1)